
<h1>Books of <%= current_user.name  %></h1>
<hr>
<% @books.each do |book| %>
  <div>
    <p>Title: <%= book.title %></p>
    <p>Pages: <%= book.number_of_pages %></p>
    <p>Author: <%= book.author_name %></p>
  </div>
  <hr>
<% end %>